#!/bin/bash
#############################################################################################
#############################################################################################
###                                                                                       ###
###        dP                     dP                         dP        oo .8888b          ###
###        88                     88                         88           88   "          ###
###        88 .d8888b. .d8888b. d8888P .d8888b. 88d888b.     88        dP 88aaa  .d8888b. ###
###        88 88ooood8 Y8ooooo.   88   88ooood8 88'  `88     88        88 88     88ooood8 ###
### 88.  .d8P 88.  ...       88   88   88.  ... 88       dP  88        88 88     88.  ... ###
###  `Y8888'  `88888P' `88888P'   dP   `88888P' dP       88  88888888P dP dP     `88888P' ###
#############################################################################################
#############################################################################################
while [ 1 ]
do
	echo -e "\n\n********************"
	echo "*  JesterLife LLC  *"
    echo -e "\n********************"
	echo "0) Exit"
	echo "1) Start"
	echo "2) Stop"
	echo "3) Restart"
	echo "4) Status"
	read -p ">>> " c
	[ "$c" == 0 ] && exit
	[ "$c" == 1 ] && sudo systemctl start openvpn-server@server.service && echo -e "\n[INFO] Connection started."
	[ "$c" == 2 ] && sudo systemctl stop openvpn-server@server.service && echo -e "\n[INFO] Connection stopped."
	[ "$c" == 3 ] && sudo systemctl restart openvpn-server@server.service && echo -e "\n[INFO] Connection restarted."
	[ "$c" == 4 ] && sudo systemctl status openvpn-server@server.service
done